## Question 6 : -
Using the data from Question 3, write code to analyze the data and answer the following questions
#### Note 
1. Draw plots to demonstrate the analysis for the following questions for better visualizations.
2. Write code comments wherever required for code understanding

#### Insights to be drawn -
* Get all Pokemons whose spawn rate is less than 5%
* Get all Pokemons that have less than 4 weaknesses
* Get all Pokemons that have no multipliers at all
* Get all Pokemons that do not have more than 2 evolutions
* Get all Pokemons whose spawn time is less than 300 seconds.

**Note** - spawn time format is "05:32”, so assume “minute: second” format and perform the analysis.
* Get all Pokemon who have more than two types of capabilities

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_excel('pokemon_data.xlsx')
df.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weakness,next_evolution,prev_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71 m,6.9 kg,Bulbasaur Candy,25,2 km,0.690,69.0,20:00,1.58,"Fire, Ice, Flying, Psychic","Ivysaur, Venusaur",NaN
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99 m,13.0 kg,Bulbasaur Candy,100,Not in Eggs,0.042,4.2,07:00,"1.2, 1.6","Fire, Ice, Flying, Psychic",Venusaur,Bulbasaur
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01 m,100.0 kg,Bulbasaur Candy,0,Not in Eggs,0.017,1.7,11:30,NaN,"Fire, Ice, Flying, Psychic",NaN,"Bulbasaur, Ivysaur"
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61 m,8.5 kg,Charmander Candy,25,2 km,0.253,25.3,08:45,1.65,"Water, Ground, Rock","Charmeleon, Charizard",NaN
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100,Not in Eggs,0.012,1.2,19:00,1.79,"Water, Ground, Rock",Charizard,Charmander

In [3]:
df.shape

(151, 17)

In [4]:
df.columns

Index(['id', 'num', 'name', 'img', 'type', 'height', 'weight', 'candy',
       'candy_count', 'egg', 'spawn_chance', 'avg_spawns', 'spawn_time',
       'multipliers', 'weakness', 'next_evolution', 'prev_evolution'],
      dtype='object')

In [5]:
df['name'].nunique()

151

### Get all Pokemons whose spawn rate is less than 5%

In [6]:
pokemon_names=list(df[df['spawn_chance']<0.05]['name'])

In [7]:
print('Pokemons whose spawn rate is less than 5%:\n ',pokemon_names,len(pokemon_names))

Pokemons whose spawn rate is less than 5%:
  ['Ivysaur', 'Venusaur', 'Charmeleon', 'Charizard', 'Wartortle', 'Blastoise', 'Butterfree', 'Raichu', 'Sandslash', 'Nidoqueen', 'Nidoking', 'Clefable', 'Ninetales', 'Wigglytuff', 'Vileplume', 'Dugtrio', 'Persian', 'Primeape', 'Arcanine', 'Poliwrath', 'Kadabra', 'Alakazam', 'Machoke', 'Machamp', 'Victreebel', 'Golem', 'Rapidash', 'Slowbro', 'Magneton', "Farfetch'd", 'Dewgong', 'Muk', 'Cloyster', 'Gengar', 'Electrode', 'Exeggutor', 'Marowak', 'Hitmonlee', 'Hitmonchan', 'Lickitung', 'Weezing', 'Rhydon', 'Chansey', 'Kangaskhan', 'Seadra', 'Starmie', 'Mr. Mime', 'Gyarados', 'Lapras', 'Ditto', 'Vaporeon', 'Jolteon', 'Flareon', 'Porygon', 'Omastar', 'Kabutops', 'Aerodactyl', 'Snorlax', 'Articuno', 'Zapdos', 'Moltres', 'Dragonair', 'Dragonite', 'Mewtwo', 'Mew'] 65

### Get all Pokemons that have less than 4 weaknesses

In [8]:
a=lambda x:len(x.split(',')) #function to split the weakness string to list of weakness

In [9]:
pokemon_names=list(df[df['weakness'].apply(a)<4]['name'])
print('Pokemons that have less than 4 weaknesses:\n ',pokemon_names,len(pokemon_names))

Pokemons that have less than 4 weaknesses:
  ['Charmander', 'Charmeleon', 'Charizard', 'Squirtle', 'Wartortle', 'Blastoise', 'Caterpie', 'Metapod', 'Pidgey', 'Pidgeotto', 'Pidgeot', 'Rattata', 'Raticate', 'Spearow', 'Fearow', 'Ekans', 'Arbok', 'Pikachu', 'Raichu', 'Sandshrew', 'Sandslash', 'Nidoran ♀ (Female)', 'Nidorina', 'Nidoran ♂ (Male)', 'Nidorino', 'Clefairy', 'Clefable', 'Vulpix', 'Ninetales', 'Jigglypuff', 'Wigglytuff', 'Diglett', 'Dugtrio', 'Meowth', 'Persian', 'Psyduck', 'Golduck', 'Mankey', 'Primeape', 'Growlithe', 'Arcanine', 'Poliwag', 'Poliwhirl', 'Abra', 'Kadabra', 'Alakazam', 'Machop', 'Machoke', 'Machamp', 'Tentacool', 'Tentacruel', 'Ponyta', 'Rapidash', 'Magnemite', 'Magneton', "Farfetch'd", 'Doduo', 'Dodrio', 'Seel', 'Grimer', 'Muk', 'Shellder', 'Drowzee', 'Hypno', 'Krabby', 'Kingler', 'Voltorb', 'Electrode', 'Cubone', 'Marowak', 'Hitmonlee', 'Hitmonchan', 'Lickitung', 'Koffing', 'Weezing', 'Chansey', 'Kangaskhan', 'Horsea', 'Seadra', 'Goldeen', 'Seaking', 'Staryu', 'Mr. Mime', 'Electabuzz', 'Magmar', 'Pinsir', 'Tauros', 'Magikarp', 'Gyarados', 'Ditto', 'Eevee', 'Vaporeon', 'Jolteon', 'Flareon', 'Porygon', 'Snorlax', 'Zapdos', 'Moltres', 'Dratini', 'Dragonair', 'Mewtwo', 'Mew'] 102

### Get all Pokemons that have no multipliers at all

In [10]:
df['multipliers'].unique()

array(['1.58', '1.2, 1.6', nan, '1.65', '1.79', '2.1', '1.4', '1.05',
       '3.55, 3.79', '1.01, 1.09', '3.01, 3.41', '1.71, 1.92',
       '2.55, 2.73', '2.66, 2.68', '2.21, 2.27', '2.34', '2.45',
       '1.63, 2.48', '1.83, 2.48', '1.64, 1.7', '1.83', '2.03, 2.14',
       '2.74, 2.81', '1.85', '2.6, 3.67', '1.5', '1.49', '2.02',
       '1.86, 1.9', '2.69', '1.98', '2.27', '2.17, 2.28', '2.31, 2.36',
       '1.72, 1.73', '1.95', '1.36, 1.95', '1.64, 1.65', '1.7', '1.57',
       '1.59', '2.52', '1.75, 1.76', '1.64, 1.72', '1.48, 1.5', '2.21',
       '2.16, 2.17', '2.19, 2.24', '1.04, 1.96', '2.44', '2.65', '1.78',
       '1.56, 1.8', '2.08, 2.09', '2.36, 2.4', '2.01, 2.02', '2.7, 3.18',
       '1.67', '1.11', '1.91', '2.23', '2.15, 2.2', '2.38, 2.41',
       '10.1, 11.8', '2.02, 2.64', '2.12', '1.97, 2.37', '1.83, 1.84',
       '2.05'], dtype=object)

In [11]:
pokemons=list(df[df['multipliers'].isnull()==True]['name']) ## no multipliers means taking pokemon whose multipliers is nan
print('Pokemons that have no multipliers at all:\n ',pokemon_names,len(pokemon_names))

Pokemons that have no multipliers at all:
  ['Charmander', 'Charmeleon', 'Charizard', 'Squirtle', 'Wartortle', 'Blastoise', 'Caterpie', 'Metapod', 'Pidgey', 'Pidgeotto', 'Pidgeot', 'Rattata', 'Raticate', 'Spearow', 'Fearow', 'Ekans', 'Arbok', 'Pikachu', 'Raichu', 'Sandshrew', 'Sandslash', 'Nidoran ♀ (Female)', 'Nidorina', 'Nidoran ♂ (Male)', 'Nidorino', 'Clefairy', 'Clefable', 'Vulpix', 'Ninetales', 'Jigglypuff', 'Wigglytuff', 'Diglett', 'Dugtrio', 'Meowth', 'Persian', 'Psyduck', 'Golduck', 'Mankey', 'Primeape', 'Growlithe', 'Arcanine', 'Poliwag', 'Poliwhirl', 'Abra', 'Kadabra', 'Alakazam', 'Machop', 'Machoke', 'Machamp', 'Tentacool', 'Tentacruel', 'Ponyta', 'Rapidash', 'Magnemite', 'Magneton', "Farfetch'd", 'Doduo', 'Dodrio', 'Seel', 'Grimer', 'Muk', 'Shellder', 'Drowzee', 'Hypno', 'Krabby', 'Kingler', 'Voltorb', 'Electrode', 'Cubone', 'Marowak', 'Hitmonlee', 'Hitmonchan', 'Lickitung', 'Koffing', 'Weezing', 'Chansey', 'Kangaskhan', 'Horsea', 'Seadra', 'Goldeen', 'Seaking', 'Staryu', 'Mr. Mime', 'Electabuzz', 'Magmar', 'Pinsir', 'Tauros', 'Magikarp', 'Gyarados', 'Ditto', 'Eevee', 'Vaporeon', 'Jolteon', 'Flareon', 'Porygon', 'Snorlax', 'Zapdos', 'Moltres', 'Dratini', 'Dragonair', 'Mewtwo', 'Mew'] 102

### Get all Pokemons that do not have more than 2 evolutions

In [23]:
df1=df[['name','next_evolution','prev_evolution']]
df1['evolution'] = df1[['next_evolution', 'prev_evolution']].apply(lambda x: ', '.join(x[x.notnull()]), axis = 1)
df1

C:\Users\HP\AppData\Local\Temp\ipykernel_13272\454286244.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['evolution'] = df1[['next_evolution', 'prev_evolution']].apply(lambda x: ', '.join(x[x.notnull()]), axis = 1)

,name,next_evolution,prev_evolution,evolution
0,Bulbasaur,"Ivysaur, Venusaur",NaN,"Ivysaur, Venusaur"
1,Ivysaur,Venusaur,Bulbasaur,"Venusaur, Bulbasaur"
2,Venusaur,NaN,"Bulbasaur, Ivysaur","Bulbasaur, Ivysaur"
3,Charmander,"Charmeleon, Charizard",NaN,"Charmeleon, Charizard"
4,Charmeleon,Charizard,Charmander,"Charizard, Charmander"
...,...,...,...,...
146,Dratini,"Dragonair, Dragonite",NaN,"Dragonair, Dragonite"
147,Dragonair,Dragonite,Dratini,"Dragonite, Dratini"
148,Dragonite,NaN,"Dratini, Dragonair","Dratini, Dragonair"
149,Mewtwo,NaN,NaN,
150,Mew,NaN,NaN,

In [24]:
a=lambda x:len(x.split(','))

In [27]:
pokemon_names=list(df1[df1['evolution'].apply(a)<2]['name'])
print('Pokemons that do not have more than 2 evolution:\n ',pokemon_names,len(pokemon_names))

Pokemons that do not have more than 2 evolution:
  ['Rattata', 'Raticate', 'Spearow', 'Fearow', 'Ekans', 'Arbok', 'Pikachu', 'Raichu', 'Sandshrew', 'Sandslash', 'Clefairy', 'Clefable', 'Vulpix', 'Ninetales', 'Jigglypuff', 'Wigglytuff', 'Zubat', 'Golbat', 'Paras', 'Parasect', 'Venonat', 'Venomoth', 'Diglett', 'Dugtrio', 'Meowth', 'Persian', 'Psyduck', 'Golduck', 'Mankey', 'Primeape', 'Growlithe', 'Arcanine', 'Tentacool', 'Tentacruel', 'Ponyta', 'Rapidash', 'Slowpoke', 'Slowbro', 'Magnemite', 'Magneton', "Farfetch'd", 'Doduo', 'Dodrio', 'Seel', 'Dewgong', 'Grimer', 'Muk', 'Shellder', 'Cloyster', 'Onix', 'Drowzee', 'Hypno', 'Krabby', 'Kingler', 'Voltorb', 'Electrode', 'Exeggcute', 'Exeggutor', 'Cubone', 'Marowak', 'Hitmonlee', 'Hitmonchan', 'Lickitung', 'Koffing', 'Weezing', 'Rhyhorn', 'Rhydon', 'Chansey', 'Tangela', 'Kangaskhan', 'Horsea', 'Seadra', 'Goldeen', 'Seaking', 'Staryu', 'Starmie', 'Mr. Mime', 'Scyther', 'Jynx', 'Electabuzz', 'Magmar', 'Pinsir', 'Tauros', 'Magikarp', 'Gyarados', 'Lapras', 'Ditto', 'Vaporeon', 'Jolteon', 'Flareon', 'Porygon', 'Omanyte', 'Omastar', 'Kabuto', 'Kabutops', 'Aerodactyl', 'Snorlax', 'Articuno', 'Zapdos', 'Moltres', 'Mewtwo', 'Mew'] 102

### Get all Pokemons whose spawn time is less than 300 seconds

Note - spawn time format is "05:32”, so assume “minute: second” format and perform the analysis.

In [17]:
df['spawn_time']

0      20:00
1      07:00
2      11:30
3      08:45
4      19:00
       ...
146    06:41
147    11:57
148    23:38
149      NaN
150      NaN
Name: spawn_time, Length: 151, dtype: object

In [14]:
#function calculate evaluation time of each pokemon and return the pokemon whose evaluation time is less than 300 seconds
def filter_pokemon_by_spawn_time(pokemon_data, max_spawn_time=300):
    filtered_pokemon = []
    for i in pokemon_data.index:
        spawn_time = str(pokemon_data.loc[i,'spawn_time'])
        if spawn_time!='nan':
            ##split time into minutes and seconds and caluculating seconds by minutes*60+seconds
            minutes, seconds = map(int, spawn_time.split(':'))
            total_seconds = minutes * 60 + seconds
            if total_seconds < max_spawn_time:
                filtered_pokemon.append(pokemon_data.loc[i,'name'])
    return list(filtered_pokemon)

In [15]:
p=filter_pokemon_by_spawn_time(df, max_spawn_time=300)
print('Pokemons whose spawn time is less than 300 seconds:\n ',p,len(p))

Pokemons whose spawn time is less than 300 seconds:
  ['Squirtle', 'Blastoise', 'Metapod', 'Weedle', 'Kakuna', 'Beedrill', 'Pidgey', 'Pidgeotto', 'Pidgeot', 'Rattata', 'Raticate', 'Fearow', 'Arbok', 'Pikachu', 'Sandshrew', 'Nidoran ♀ (Female)', 'Nidoran ♂ (Male)', 'Clefairy', 'Clefable', 'Ninetales', 'Golbat', 'Oddish', 'Paras', 'Parasect', 'Venonat', 'Diglett', 'Meowth', 'Persian', 'Psyduck', 'Growlithe', 'Arcanine', 'Poliwag', 'Poliwrath', 'Abra', 'Machop', 'Machamp', 'Bellsprout', 'Tentacool', 'Graveler', 'Ponyta', 'Rapidash', 'Slowbro', 'Magnemite', "Farfetch'd", 'Dodrio', 'Muk', 'Cloyster', 'Gastly', 'Haunter', 'Gengar', 'Onix', 'Drowzee', 'Hypno', 'Krabby', 'Kingler', 'Voltorb', 'Electrode', 'Cubone', 'Marowak', 'Hitmonlee', 'Lickitung', 'Rhyhorn', 'Chansey', 'Kangaskhan', 'Horsea', 'Seadra', 'Goldeen', 'Mr. Mime', 'Electabuzz', 'Pinsir', 'Tauros', 'Gyarados', 'Jolteon', 'Porygon', 'Kabuto'] 75

### Get all Pokemon who have more than two types of capabilities

In [16]:
df['type'].unique()

array(['Grass, Poison', 'Fire', 'Fire, Flying', 'Water', 'Bug',
       'Bug, Flying', 'Bug, Poison', 'Normal, Flying', 'Normal', 'Poison',
       'Electric', 'Ground', 'Poison, Ground', 'Poison, Flying',
       'Bug, Grass', 'Fighting', 'Water, Fighting', 'Psychic',
       'Water, Poison', 'Rock, Ground', 'Water, Psychic', 'Water, Ice',
       'Ghost, Poison', 'Grass, Psychic', 'Ground, Rock', 'Grass',
       'Ice, Psychic', 'Water, Flying', 'Rock, Water', 'Rock, Flying',
       'Ice, Flying', 'Electric, Flying', 'Dragon', 'Dragon, Flying'],
      dtype=object)

In [28]:
a=lambda x:len(x.split(','))
pokemon_names=list(df[df['type'].apply(a)>2]['name'])
print('Pokemon who have more than two types of capabilities:\n ',pokemon_names,len(pokemon_names))

Pokemon who have more than two types of capabilities:
  [] 0